# --- Julia Specifics ---
# Crash logs often generated if Julia aborts
*.jl.cov
*.jl.mem
*.ji
Manifest.toml

# --- System/OS ---
.DS_Store
Thumbs.db

# --- User/IDE specific ---
.vscode/
.claude/
.idea/
notebooks/profile/
references/
Testing/
data/personal/
data/confidential/
data/comparison/
outputs/


# --- model files ---
*.lp
*.mps

# --- database files ---
*.db
*.db.wal